.about-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 75vh;
    min-height: fit-content;
    background-image: url("../../../assets/Home/bg.jpg");
    /* background: url("../../../assets/Home/bg.jpg") no-repeat center center/cover; */

  }
  .about-parent {
    display: flex;
    align-items: center;
    color: aliceblue;
  }
  .about-details-name {
    font-size: 24px;
    font-family: "Poppins SemiBold";
  }
  .about-details-role {
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
  }
  .about-details-role h1 {
    font-size: 40px;
    font-family: "cursive";
  }
  .primary-text {
    color: (--white);
  }
  .highlighted-text {
    color: #ff5823;
  }
  .about-role-tagline {
    font-size: 19px;
    margin: 5px 0 0 0;
    font-family: "Poppins Light";
  }
  .about-options .highlighted-btn {
    margin: 0 0 0 28px;
    border-radius: 12px solid white;
  }
  .about-options .highlighted-btn:hover {
    margin: 0 0 0 28px;
    background-color: cornsilk;
    color: #111;
  }
  .about-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px var(--white);
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0 0px 0 100px;
  }
  .about-picture-background {
    height: 92%;
    width: 92%;
    border-radius: 50%;
    background-image: url("../../../assets/Home//aboutphoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .about-picture-background:hover {
    transform: scale(1.07);
    transition: 1s ease-out;
  }

  .about-paragraph{
    display: flex;
    flex-wrap: wrap ;
  }

  .about-content{
    text-align: center;
    
  }
  
  .colz .colz-icon i {
    color: white;
    padding: 8px;
    padding-left: 0px;
  }
  .colz .cols-icon i:hover {
    transform: scale(1.5);
  }
  
  /*IPAD PRO RESPONSIVENESS*/
  @media only screen and (max-width: 1110px) {
    .about-picture {
      margin: 0 0px 0 80px;
    }
    .about-details-name {
      font-size: 20px;
    }

   
    .about-details-role .primary-text {
      font: 12px;
    }
    .about-options .btn {
      
      width: 120px;
      padding: 11px 0;
      z-index: 700;
    }
  }
  @media only screen and (max-width: 910px) {
    .about-picture {
      margin: 0 0 0 4px;
      height: 320px;
      width: 320px;
    }
  }
  @media only screen and (max-width: 810px) {
    .about-picture {
      margin-top: 250px !important;
    }
    .about-parent {
      flex-direction: column-reverse;
      margin: 40px 0 0 0;
    }
    .about-options {
      display: flex;
      justify-content: space-between;
    }
    .proflie-details {
      margin: 25px 0 0;
    }
    .about-options .highlighted-btn {
      margin: 0 !important;
    }
    .about-details-name,
    .about-details-role {
      text-align: center;
      height: 100px;
    }
  }
  
  @media only screen and (max-width: 375px) {
    .about-picture {
      height: 275px;
      width: 275px;
      margin-top: -90px;
    }
    .proflie-details {
      width: 95%;
    }
  }