.main-header {
    text-align: center;
    color: white;
    background-color: lightgrey;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: auto;
    height: 950px;
    
    
    
    

   
   
  }

